.container {
    margin: 0rem auto 6rem;
    display: flex;
    flex-direction: column;

  }
  
  .header {
    display: flex;
    align-items: center;
    background-color:rgb(119,139,235,0.1);
    height: fit-content;
    color: #303952;
    font-weight: 600;
    padding: 2rem;
    width: 100%;
  }

  /* .header > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  .header > img {
    color: blue;
  
  }

  .header > div:first-child {
    color: #EA1E87;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .blockquote {
    color: #303952;
    font-weight: bold;
    padding-bottom: 1rem;

  }
  .blockquote2 {
    color: #303952;
  }
  .imageRight1 {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 32rem;
    height: 200px;
    width: 200px !important;
    border-radius: 9999px;
    background-image: url(../../public/images/sport-image/sport-sante-nanterre-body-.jpg);

  }
  .imageRight2 {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 32rem;
    height: 200px;
    width: 200px !important;
    border-radius: 9999px;

    background-image: url(../../public/images/sport-image/sport-sante-nanterre-jump.jpg);

  }

  .imageRight3 {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 32rem;
    height: 200px;
    width: 200px !important;
    border-radius: 9999px;

    background-image: url(../../public/images/sport-image/sport-sante-nanterre-bras.jpg);

  }